@tailwind base;
@tailwind components;
@tailwind utilities;

html: {
  background-color: #01ff7f;
}

.map-container {
  position: absolute;
  top: 10%;
  bottom: 0;
  left: 0;
  right: 0;
}

#homeSideBar {
  top: 10%;
  bottom: 0;
  height: auto;
  width: 20%;
  overflow-y: auto;
}

header {
  height: 10%;
}

/* 
.sidebarStyle {
  display: inline-block;
  position: absolute;
  top: 7%;
  left: 0;
  margin: 12px;
  background-color: #404040;
  color: #efefef;
  z-index: 1 !important;
  padding: 6px;
  font-weight: bold;
  opacity: 0.6;
} */
