@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
  width: 100%;
  background-color: #226385;
}

.map-container {
  position: absolute;
  top: 7%;
  bottom: 0;
  left: 0;
  right: 0;
}

.homeSideBar {
  top: 10%;
  bottom: 0;
  height: auto;
  width: 20%;
  overflow-y: auto;
}

header {
  height: 10%;
}

.backpacks .shelters .footwears .sleepItems {
  overflow-y: auto;
  height: 60%;
  width: auto;
  border-radius: 1rem;
}

.error {
  border-color: red;
}
